<%- model_class = Recipe -%>

<div class="container">
  <div class="page-header">
    <p>
    <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
    |
    <%= link_to_unless I18n.locale == :de, "German", locale: :de %>
    </p>
    <h1><%= t 'recipes' %></h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= link_to t('new', :default => t("new")),
        new_recipe_path,
        :class => 'btn btn-success' %>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <% @recipes.each do |recipe| %>
      <div class="well">
        <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
        <p><%= recipe.description %></p>
        <h6><%= t 'ingredients' %></h6>
        <p><%= recipe.ingredients %></p>
        <h6><%= t 'preparation_method' %></h6>
        <p><%= recipe.preparation_method %></p>
        <div class="form-actions">
          <%= link_to t('edit', :default => t("edit")),
                      edit_recipe_path(recipe), :class => 'btn btn-primary' %>
          <%# unless  Recipe::Translation.where(:recipe_id => recipe.id, :locale => 'de').present? %>
            <%= link_to t('add_german'), add_german_recipe_path(recipe), :class => 'btn btn-info' %>
          <%# end %>
          <%= link_to t('destroy', :default => t("destroy")),
                      recipe_path(recipe),
                      :method => :delete,
                      :data => { :confirm => t('confirm', :default => t("confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>